F/* 
    Created on : 08-04-2014, 09:24:40
    Author     : Randi
*/
#loginform {
    text-align:center;
    margin-top: 200px;   
}

body {
    background-image: url("image/flower-wallpaper.png");
}

#createThread {
    position: static;
    float: right;
}

#createPost {
    position: static;
    float: left;
}

#create-post-text {
    width: 100px;
    height: 200px;
}

#currentText {
    width: 250px;
    height: 150px;
    text-align: left;
    line-height: -4px
}