F/* 
    Created on : 08-04-2014, 09:24:40
    Author     : Randi
*/
table, tr, td, h3, form {
    text-align:center;
    margin-top: 200px;
}

body {
    background-image: url("image/flower-wallpaper.png");
}

table {
    margin: auto;
}